/* ===============================
   CSS RESET, BASE, VARIABLES & TYPOGRAPHY
================================= */
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
}

body {
   margin: 0;
   overflow-x: hidden;
}

img {
   max-width: 100%;
   display: block;
}

a {
   text-decoration: none;
}

:root {
   --font-heading: 'Quicksand', sans-serif;
   --font-body: 'Lato', sans-serif;

   --color-primary: #38BA44;
   --color-secondary: #E4A200;
   --color-accent: #4ECD7B;
   --color-text: #040712;
   --color-white: #FFFFFF;
   --color-button: #424448;


   --container-width: 1240px;
}


.body-text {
   font-family: var(--font-body);
   font-weight: 300;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.5px;
}

.pre-header {
   font-family: var(--font-heading);
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 3px;
}

.title {
   font-family: var(--font-heading);
   font-weight: 600;
   font-size: 56px;
   line-height: 68px;
   letter-spacing: 0;
}

.subtitle {
   font-family: var(--font-body);
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 1.25px;
}

.box-title {
   font-family: var(--font-body);
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 1.25px;
}

.btn-text {
   font-family: var(--font-heading);
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 1.25px;
}

.num-text {
   font-family: var(--font-heading);
   font-weight: 600;
   font-size: 32px;
   line-height: 46px;
   letter-spacing: 0;
}

@media (max-width: 992px) {
   .body-text {
      font-size: 20px;
      line-height: 30px;
   }

   .pre-header {
      font-size: 16px;
      line-height: 24px;
   }

   .title {
      font-size: 42px;
      line-height: 50px;
   }

   .subtitle {
      font-size: 20px;
      line-height: 30px;
   }

   .box-title {
      font-size: 20px;
      line-height: 30px;
   }

   .btn-text {
      font-size: 20px;
      line-height: 30px;
   }
}

@media (max-width: 576px) {
   .body-text {
      font-size: 20px;
      line-height: 30px;
   }

   .pre-header {
      font-size: 16px;
      line-height: 24px;
   }

   .title {
      font-size: 30px;
      line-height: 40px;
   }

   .subtitle {
      font-size: 18px;
      line-height: 26px;
   }

   .box-title {
      font-size: 16px;
      line-height: 26px;
   }
}


/* ===============================
   SECTION & CONTAINER
================================= */
.section {
   margin: 20px 0;
}

.container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);

   max-width: var(--container-width);
   width: 100%;
   margin: 0 auto;

   padding: 20px 10px;
}

/* ===============================
   RESPONSIVE COLUMNS
   col-      = all screen sizes
   col-sm-   = 576px and up
   col-md-   = 768px and up
   col-lg-   = 992px and up
================================= */
.col-3 {
   grid-column: span 3;
}

.col-4 {
   grid-column: span 4;
}

.col-6 {
   grid-column: span 6;
}

.col-12 {
   grid-column: span 12;
}

@media (min-width: 576px) {
   .section {
      margin: 20px 0;
   }

   .container {
      gap: 16px;
      padding: 30px 20px;
   }

   .col-sm-3 {
      grid-column: span 3;
   }

   .col-sm-4 {
      grid-column: span 4;
   }

   .col-sm-6 {
      grid-column: span 6;
   }

   .col-sm-12 {
      grid-column: span 12;
   }
}

@media (min-width: 768px) {
   .section {
      margin: 30px 0;
   }

   .container {
      gap: 16px;
      padding: 20px 40px;
   }

   .col-md-3 {
      grid-column: span 3;
   }

   .col-md-4 {
      grid-column: span 4;
   }

   .col-md-6 {
      grid-column: span 6;
   }

   .col-md-12 {
      grid-column: span 12;
   }
}

@media (min-width: 992px) {
   .section {
      margin: 40px 0;
   }

   .container {
      gap: 24px;
      padding: 60px 40px;
   }

   .col-lg-3 {
      grid-column: span 3;
   }

   .col-lg-4 {
      grid-column: span 4;
   }

   .col-lg-6 {
      grid-column: span 6;
   }

   .col-lg-12 {
      grid-column: span 12;
   }
}

/* ===============================
   CUSTOM CODE
================================= */

.container {
   align-items: center;
}

.pre-header {
   text-decoration: underline 1px var(--color-primary);
   text-underline-offset: 8px;
}

.body-text {
   text-align: justify;
}

/* Button */
.btn {
   display: inline-flex;
   align-items: center;
   gap: 12px;
   width: fit-content;
   border-radius: 50px;
}

.btn-text {
   margin-left: 18px;
}

.btn-icon {
   padding: 12px 13px;
   border-radius: 50%;
   background: #fff;
}

.black.btn {
   color: var(--color-white);
   background: var(--color-button);
   border: 3px solid var(--color-button);
}

.black.btn:hover {
   color: var(--color-button);
   background: var(--color-white);
}

.black.btn .btn-icon {
   fill: var(--color-button);
   background-color: var(--color-white);
}

.black.btn:hover .btn-icon {
   fill: var(--color-white);
   background-color: var(--color-button);
}

.green.btn {
   color: var(--color-white);
   background: var(--color-primary);
   border: 3px solid var(--color-primary);
}

.green.btn:hover {
   color: var(--color-primary);
   background: var(--color-white);
}

.green.btn .btn-icon {
   fill: var(--color-primary);
   background-color: var(--color-white);
}

.green.btn:hover .btn-icon {
   fill: var(--color-white);
   background-color: var(--color-primary);
}

/* Hero Section */
#hero .left-content {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
}

#hero .title {
   color: var(--color-secondary);
}

#hero .right-content {
   display: flex;
   justify-content: flex-end;
}

#hero .box {
   position: relative;
   margin-bottom: 10px;

   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

#hero .box>img {
   position: absolute;
   z-index: -2;
   width: 100%;
}

#hero .box-num {
   position: relative;
   width: 90px;
   text-align: center;
   display: inline-block;
}

#hero .box-num>img {
   position: absolute;
   top: 65%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: -1;
}

/* Family Section */
#family {
   background-color: #1c5c2b;
   margin: 200px 0 350px;
   position: relative;
}

#family .wave-top {
   position: absolute;
   bottom: 100%;
   left: 0;
   width: 100%;
   z-index: -3;
}

#family .wave-bottom {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   z-index: -3;
}

#family .sec-header {
   display: flex;
   flex-direction: column;
   gap: 30px;
   text-align: center;
}

#family .gallary {
   height: 320px;
   overflow: hidden;
}

#family .pre-header {
   color: var(--color-white);
}

#family .title {
   margin-top: 10px;
   color: var(--color-secondary);
}

#family .gallery {
   display: flex;
   gap: 10px;
   overflow: hidden;
   border-radius: 0 50px 0 50px;
}

#family .body-text {
   color: #FFFFFF;
}

#family .left-content {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
}

/* Doctor Section */
#doctor .sec-header {
   display: flex;
   flex-direction: column;
   gap: 30px;
   text-align: center;
}

#doctor .left-content {
   position: relative;
}

#doctor .badge {
   position: absolute;
   left: 0;
   top: 0;
   width: 260px;
   text-align: center;
   padding: 30px;
   border-radius: 30px 0 30px 0;
   background-color: var(--color-primary);
}

#doctor .right-content {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
}

/* Responsive On Tab */
@media (max-width: 992px) {
   #hero .left-content {
      text-align: center;
      align-items: center;
   }

   #hero .right-content img {
      margin-top: 30px;
      width: 100%;
   }

   #hero .box {
      margin-top: 30px;
   }

   #hero .box-num {
      margin: 0 20px 0 10px;
      width: 60px;
   }

   #family {
      margin: 200px 0 200px;
   }

   #family .sec-header {
      gap: 10px;
   }

   #family .gallery>div:nth-child(3) {
      display: none;
   }

   #family .left-content {
      text-align: center;
      align-items: center;
   }

   #family .right-content img {
      margin-top: 30px;
      width: 100%;
   }

   #doctor .sec-header {
      gap: 10px;
   }

   #doctor .left-content img {
      width: 100%;
   }

   #doctor .right-content {
      margin-top: 30px;
      row-gap: 20px;
      align-items: center;
   }

}

/* Responsive On Mobile */
@media (max-width: 576px) {
   #hero .left-content {
      gap: 20px;
   }

   #hero .box {
      height: 120px;
      margin: 6px 0;
   }

   #hero .box>img {
      height: 100%;
   }

   #family {
      margin: 100px 0 100px;
   }

   #family .left-content {
      gap: 20px;
   }

   #family .gallery>div:nth-child(3),
   #family .gallery>div:nth-child(4) {
      display: none;
   }

   #doctor .badge {
      width: 230px;
   }
}